---
layout: handbook-page-toc
title: Ops Section
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Enable developers to reliably manage infrastructure, services, and applications in production environments.

## FY21 Direction


We are focused on one of the major themes of [GitLab's one year product plan](https://about.gitlab.com/direction/#1-year-plan):

> Compete in Ops: Enable today's modern best-practices in operations without
> the burden of specialized teams, multiple tools and heavy workflows.

We will focus on driving dogfooding of Monitoring and Configuration features
within GitLab teams in order to accelerate feedback and demonstrate our
capabilities can be relied on for critical production use cases such as running
gitlab.com.

More details about Ops Section direction and plans:

* [Ops Section one year plan](https://about.gitlab.com/direction/ops/#one-year-plans)
* [GitLab's one year product plan](https://about.gitlab.com/direction/#1-year-plan)


## Who we are

The following people are permanent members or stable-counterparts of the Ops Section:
<%
section_name = 'Ops Section'
section_groups = ['Configure','Monitor:APM','Monitor:Health']
%>
<%=  department_team(base_department: section_name, remove_departments: section_groups) %>

### Configure
<%=  product_group(group: 'Configure') %>

### Monitor:APM
<%=  product_group(group: 'Monitor:APM') %>

### Monitor:Health
<%=  product_group(group: 'Monitor:Health') %>

## How we work

### Issue Planning - Issue Board

Since the Ops Section spans multiple groups, it can be difficult to track what each group is working on in each milestone. As such, each group is encouraged to create their own planning issues each milestone. Product Managers should create the planning issue for the next milestone once a new milestone has started so that everyone can contribute to the direction before a milestone starts.

All the planning issues are viewable on the [Ops Section - Issue Planning (Issue Board)](https://gitlab.com/groups/gitlab-org/-/boards/1567586)

### Team Handbook Pages

* [Configure](/handbook/engineering/development/ops/configure/)
* [Monitor Stage Groups](/handbook/engineering/development/ops/monitor/)
  * [Monitor:APM Group](/handbook/engineering/development/ops/monitor/apm/)
  * [Monitor:Health Group](/handbook/engineering/development/ops/monitor/health/)

## Useful Links

 * [Slack Channel](https://gitlab.slack.com/archives/CKW6KLB8F)
 * [Ops Section - Issue Planning (Issue Board)](https://gitlab.com/groups/gitlab-org/-/boards/1567586)
 * [Configure - Technical Debt (Issue Board)](https://gitlab.com/groups/gitlab-org/-/boards/1569863)
 * [Monitor - Technical Debt (Issue Board)](https://gitlab.com/groups/gitlab-org/-/boards/1557406)
 * Feature Showcase: A project that demonstrates Ops features.
   * [Live Environment](https://gitlab-org-monitor-tanuki-inc.34.69.64.147.nip.io/)
   * [Project Repo](https://gitlab.com/gitlab-org/monitor/tanuki-inc/)
